= form_tag rivalry_path, method: 'get' do
  = select_tag :team_1, options_for_select(Team.all.collect{|x| [x.name, x.id]})
  = select_tag :team_2, options_for_select(Team.all.map{|x| [x.name, x.id]})
  = submit_tag "Go"


